<app-navbar></app-navbar>
<div class="alert alert-primary" role="alert">
  Want to hire best Product Managers?<a href="#" class="alert-link" style="text-decoration: none;"> Post your job requirments here</a> 🥳 
</div>
<div *ngFor="let job of jobs" class="card" style="width: 95%; left: 2.5%; margin-top: .5rem; margin-bottom: 0.5rem;">
  <div class="card-body">
    <h5 class="card-title">⚡️ Associate Product Manager</h5>
    <h6 class="card-subtitle mb-2 text-muted">🏝&ensp;Razorpay</h6>
    <h6 class="card-subtitle mb-2 text-muted">🗓&ensp;23rd June 2021</h6>
    <p class="card-text">Hi folks,<br>
      The product team at Refyne India is hiring for APM and PM roles.<br>
      If you are someone who:<br>
      1. Spends a lot of time with users, user data and stakeholders<br>
      2. Runs experiments to validate/invalidate your ideas<br>
      3. Takes ownership and doesn't stop till you attain (pre-defined) success
      and have more than 2 years of working in a product role (APM, PM), please send your resume to pragati@refyne.co.in with the subject line "APM/PM Role".
      <br>
      In addition to what a typical APM/PM role generally offers, you get a chance to be a part of this amazing team.</p>
    <a href="https://www.linkedin.com/posts/pragatimaan_hiring-productmanager-productmanagerjobs-activity-6876819724337061888-aidd" class="card-link" style="text-decoration: none;">Apply now 💫</a>
  </div>
</div>